@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.scroll-container::-webkit-scrollbar {
  width: 0;
}
.scroll-container::-webkit-scrollbar {
  scrollbar-width: none;
}
/* 
@keyframes scrollHorizontally {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.scroll-container:hover {
  animation: scrollHorizontally 200s linear infinite;
} */
